<section>
  <div class="page-header">
    <h1>Shopsellers</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="shopseller in vm.shopsellers"
       ui-sref="shopsellers.view({ shopsellerId: shopseller._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="shopseller.created | date:'mediumDate'"></span>
        by
        <span ng-if="shopseller.user" ng-bind="shopseller.user.displayName"></span>
        <span ng-if="!shopseller.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="shopseller.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.shopsellers.$resolved && !vm.shopsellers.length">
    No Shopsellers yet, why don't you <a ui-sref="shopsellers.create">create one</a>?
  </div>
</section>
